node_modules
.pnpm-store
.next
.turbo
out
build
dist
.env*
pnpm-lock.yaml
package-lock.json
yarn.lock
.DS_Store
Thumbs.db
coverage
playwright-report
src-tauri/target
src-tauri/.cargo
apps/mobile/.expo
apps/mobile/.expo-shared
